{% extends 'base.html' %}

{% block title %}
novo produto
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Página Inicial</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('page_usuario') }}">Voltar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block conteudo %}
<h2 style="text-align: center">Cadastre um novo produto</h2>
<hr>
<form id="form-cadastro-produto" class="needs-validation" novalidate>
    <!-- Escrever o NOME do Produto -->
    <div class="col-md-6 offset-md-3 my-5">
        <div class="form-group">
            <label for="nome">Nome do Produto:</label>
            <input type="text" class="form-control" id="nome" required>
            <div class="invalid-feedback">
                Por favor, insira o nome do produto.
            </div>
        </div>
    </div>
    <!-- Escrever o Tipo do Produto -->
    <div class="col-md-6 offset-md-3 my-5">
        <div class="form-group">
            <label for="tipo">Tipo do Produto:</label>
            <input type="text" class="form-control" id="tipo" required>
            <div class="invalid-feedback">
                Por favor, insira o tipo do produto.
            </div>
        </div>
    </div>
    <!-- Escrever o Corante -->
    <div class="col-md-6 offset-md-3 my-5">
        <div class="form-group">
            <label for="corante">Corante:</label>
            <input type="text" class="form-control" id="corante">
        </div>
    </div>
    <!-- Escrever o Transgênico -->
    <div class="col-md-6 offset-md-3 my-5">
        <div class="form-group">
            <label for="transgenico">Transgênico:</label>
            <input type="text" class="form-control" id="transgenico">
        </div>
    </div>
    <!-- Escrever o campo Aditivos Químicos -->
    <div class="col-md-6 offset-md-3 my-5">
        <div class="form-group">
            <label for="aditivos">Aditivos Químicos:</label>
            <input type="text" class="form-control w-100" id="aditivos">
        </div>
    </div>
    <!-- Escrever o campo Organismo Geneticamente Modificado -->
    <div class="col-md-6 offset-md-3 my-5">
        <div class="form-group">
            <label for="ogm">Organismo Geneticamente Modificado:</label>
            <input type="text" class="form-control w-100" id="ogm">
        </div>
    </div>

    <!-- Aqui coloca o Botão de Envio -->
    <div class="col-md-6 offset-md-3 my-5 text-center">
        <button type="button" class="btn btn-outline-success" onclick="cadastrarProduto()">Cadastrar Produto</button>
    </div>
</form>

<script>
function cadastrarProduto() {
    const nome = document.getElementById('nome').value;
    const tipo = document.getElementById('tipo').value;
    const corante = document.getElementById('corante').value;
    const transgenico = document.getElementById('transgenico').value;
    const aditivos = document.getElementById('aditivos').value;
    const ogm = document.getElementById('ogm').value;

    const data = {
        name: nome,
        type: tipo,
        corante: corante,
        transgenico: transgenico,
        aditivos: aditivos,
        ogm: ogm
    };

    fetch('/api/products', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (response.ok) {
            alert('Produto cadastrado com sucesso!');
            window.location.href = '/api/products'; // Redirecionar para a página de produtos cadastrados
        } else {
            alert('Ocorreu um erro ao cadastrar o produto.');
        }
    })
    .catch(error => {
        console.error('Erro ao enviar a solicitação:', error);
    });
}
</script>
{% endblock %}
