{% extends 'base.html'%}

{% block title %}
products
{% endblock %}

{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index')}}"> Página Inicial</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item" style="color: lawngreen; width: 100px;">
                        <i class="fas fa-paw"></i> <!-- Corrigido o uso do ícone -->
                        Olá, {{ current_user.nome }}
                    </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
                        </li>
                    {% else %}
                    <a class="nav-link" href="{{url_for('register')}}">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6 mx-auto"> <!-- Adicionado mx-auto para centralizar horizontalmente -->
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}
{% endblock %}

{% block conteudo %}
<h2 style="text-align: center">Produtos cadastrados</h2>
<hr>
{% if current_user.is_authenticated %}
<a href="{{ url_for('users') }}" class="btn btn-success float-end">Voltar para área de usuário</a>
{% else %}
<a href="{{ url_for('index') }}" class="btn btn-success float-end">Voltar para página inicial</a>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Corante</th>
            <th>Transgênico</th>
            <th>Aditivos Químicos Sintéticos</th>
            <th>Organismos Geneticamente Modificados</th>
            {% if current_user.is_authenticated %}
            <th>Ações</th> <!-- Adiciona uma coluna para ações -->
            {% endif %}
        </tr>
    </thead>
    <tbody id="lista-produtos">
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.type }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.corante }}</td>
            <td>{{ product.transgenico }}</td>
            <td>{{ product.aditivos_quimicos_sinteticos }}</td>
            <td>{{ product.organismos_geneticamente_modificados }}</td>
            {% if current_user.is_authenticated and product.owner_id == current_user.id %}
            <td>
                <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn btn-outline-success btn-sm">Editar Produto</a>
            </td> <!-- Adiciona o botão de editar apenas se o usuário for o proprietário do produto -->
            {% else %}
            <td></td> <!-- Caso contrário, deixa a célula vazia -->
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
$(document).ready(function() {
    $("#consultar-produtos").click(function() {
        // Fazer uma requisição GET para a rota /api/products
        $.get("/api/products", function(data) {
            // Limpar a tabela antes de adicionar os novos produtos
            $("#lista-produtos").empty();

            // Adicionar cada produto à tabela
            data.forEach(function(produto) {
                $("#lista-produtos").append(
                    "<tr>" +
                    "<td>" + produto.id + "</td>" +
                    "<td>" + produto.type + "</td>" +
                    "<td>" + produto.name + "</td>" +
                    "<td>" + produto.corante + "</td>" +
                    "<td>" + produto.transgênico + "</td>" +
                    "<td>" + produto.aditivos_quimicos_sinteticos + "</td>" +
                    "<td>" + produto.organismos_geneticamente_modificados + "</td>" +
                    "</tr>"
                );
            });
        });
    });
});
</script>
{% endblock %}