{% extends 'base.html'%}

{% block title%}
usuario
{% endblock%}

{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index')}}">Página Inicial</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item" style="color: lawngreen;width: 100px;" >
                        <i class="fas fa-paw"></i>
                        Olá, {{ current_user.nome }}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6 mx-auto"> <!-- Adicionado mx-auto para centralizar horizontalmente -->
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}
{% endblock %}



{%block conteudo%}
<h2 style="text-align: center">O que você deseja fazer?</h2>
    <hr>
    <nav class="navbar navbar-light bg-light">
        <div class="container justify-content-center">
            <form class="d-flex">
                <a href="{{ url_for('product_addition') }}" class="btn btn-outline-success me-3">Cadastrar produtos</a>


                <a href="{{url_for('products')}}" class="btn btn-outline-success me-3" type="button">Visualizar página de produtos</a>
            </form>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/655857084e.js" crossorigin="anonymous"></script>

{%endblock%}